@charset "UTF-8";
/* layout */
 /* body {
	text-align: center;
 } */
 /* .back {
 	text-align: left;
 } */
 /* .messages {
	display: inline-block;
	text-align: left;
 }
 
 /* color */
ul {
	/* text-align: center; */
 	color: red;
}